* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #eff0f4;
}

ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

ul li {
  position: relative;
  list-style: none;
  width: 80px;
  height: 80px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.05),
    10px 15px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 10px rgba(255, 255, 255, 1);
  border-radius: 50px;
  transition: 0.5s;
}

ul li::before {
  content: "";
  position: absolute;
  inset: 4px;
  box-shadow: inset 4px 4px 0 #fff;
  z-index: 1;
  border-radius: 50px;
  filter: blur(2px);
  pointer-events: none;
}

ul li:hover {
  transform: translateY(-10px);
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    15px 20px 15px rgba(0, 0, 0, 0.2),
    inset -5px -5px 10px rgba(255, 255, 255, 1);
}

ul li a {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 30px;
  color: var(--clr);
}

/*? Mouse pulsation */
.pulse {
  position: absolute;
  transform: translate(-50%, -50%);
  border: 2px solid #03a9f4;
  border-radius: 50%;
  z-index: 1000;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    height: 100px;
    width: 100px;
    opacity: 0;
  }
}
